.container-head {

    background-color: #000514;
}

#logo {
    width: 180px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}


.shopping_much_bg {
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: rgba(89.00000229477882, 199.0000033378601, 171.00000500679016, 1);
    font-family: Coda;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(86.00000247359276, 224.000001847744, 150.0000062584877, 0.10000000149011612);
}

.purchase_record {
    padding: 0.25rem 1rem;
    color: rgba(95.00000193715096, 149.00000631809235, 213.00000250339508, 1);
    font-family: Coda;
    font-size: 16px;
}

.member_profile {
    padding: 0.25rem 1rem;
    color: rgba(92.00000211596489, 174.00000482797623, 192.00000375509262, 1);
    font-family: Coda;
    font-size: 16px;
}

.saved {
    padding: 0.25rem 1rem;
    color: rgba(89.00000229477882, 199.0000033378601, 171.00000500679016, 1);
    font-family: Coda;
    font-size: 16px;
}

.sign_out {
    padding: 0.25rem 1rem;
    color: rgba(243.00000071525574, 67.00000360608101, 54.00000058114529, 1);
    font-family: Coda;
    font-size: 16px;
}

.change_password {
    padding: 0.25rem 1rem;
    color: #56E096;
    font-family: Coda;
    font-size: 15px;
}


.self-search {
    padding: 15px;
    width: 100%;
    height: 40px;
    font-family: Coda;
    background-color: #ffffffd5;
    border: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 10px;
}

.category-line {
    width: 2px;
    height: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.test-project-font {
    font-family: 'Noto Sans TC', sans-serif;
    color: #5CAEC0;
}


.COMM_name {
    font-size: 24pt;
    color: #56E096;
    font-family: Coda;
    font-weight:bold;
}

.COMM_desc {
    font-size: 16pt;
    color: white;
    font-family: Coda;
}

.bg {
    background-color: #1c2f4d;
    width: 100%;
    height: 100%;
    border: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.details {
    color: rgba(95.00000193715096, 149.00000631809235, 213.00000250339508, 1);
    font-family: Coda;
    text-align: right;
    font-size: 16pt;
}

.icon {
    height: 35px;
    width: 35px;
}

.n-col-sm-11 {
    flex: 0 0 auto;
    width: 80%;
    height: 240px;
}

/* 加入購物車button */
.input_cart {
    color: #56E096;
    background-color: rgba(86.00000247359276, 224.000001847744, 150.0000062584877, 0.10000000149011612);
    border-color: #56E096;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#com_1
{
    background-color: #ffffff00;
    font-size: 16pt;
    font-family: Coda;
    color: #56E096;
    border: 0;
}

.com_2
{
    background-color: #ffffff00;
    font-size: 18pt;
    font-family: Coda;
    color: #56E096;
    border: 0 ;
}

 option {

    background: hsl(225, 100%, 4%);
    
  }

.Compare_point
{
    background-color: #ffffff00;
    font-size: 16pt;
    font-family: Coda;
    color: #627CEA;
    border: 0;
}

.winner
{
    color:#ffffffcb;
    font-size: 25pt;
    font-family: Coda;
}


.demand
{
    font-size: 12pt;
    width: 80px;
    height: 40px;
    color: #19A5B7;
    background-color: #19a5b72a;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.rank_table
{
    font-size: 20pt;
}

.category_background
{
    background-color: #19a5b749;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 50px;
    
}
#change {  
    height: 281px; /* can be anything */
    /* width:500px; can be anything */
    position: relative;
}
#change img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}