/* .container-head {
    background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);
    height: 100%;
}

#logo {
    width: 180px;
    height: 120px;
    /* background-size: cover;
    background-repeat: no-repeat;
}

.cpurank_txt { 
    color:rgba(101.00000157952309, 99.00000169873238, 255, 1);
	font-family:Coda;
	text-align:left;
	font-size:40px;
}
 */